* {
  font-family: 'Open Sans', sans-serif;
}

.bodyBg{
  background-color: rgb(245, 245, 245);
}

.menu {
  background-color: #4C3398;
  height: 45px;
  width: 100%;
}

.menu-nav a {
  text-decoration: none;
  color: white;
  margin-right: 3rem;
  font-size: 13px;
}

.menu-nav a:hover {
  color: white;
}

.menu-nav svg {
  margin-right: .5rem;
}

.slider-box {
  width: 100%;
  height: 500px;
  position: relative;
}

.slide1 {
  height: 500px;
  width: 100%;
  background-image: url("https://cdn.getir.com/getirweb-images/common/hero-posters/getir-mainpage-4.jpg");
  background-position: center;
  background-size: cover;
}

.slide2 {
  height: 500px;
  width: 100%;
  background-image: url("https://cdn.getir.com/getirweb-images/common/hero-posters/getir-mainpage-1.jpg");
  background-position: center;
  background-size: cover;
}

.slide3 {
  height: 500px;
  width: 100%;
  background-image: url("https://cdn.getir.com/getirweb-images/common/hero-posters/getir-mainpage-2.jpg");
  background-position: center;
  background-size: cover;
}

.slide4 {
  height: 500px;
  width: 100%;
  background-image: url("https://cdn.getir.com/getirweb-images/common/hero-posters/getir-mainpage-3.jpg");
  background-position: center;
  background-size: cover;
}


.gradient {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  align-items: center;
  display: flex;
  background: linear-gradient(90deg, rgb(92, 60, 189) 0%, rgba(0, 0, 0, 0) 100%);
}

.box {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
}

.login-box {
  width: 400px;
  background-color: white;
  border-radius: 8px;
}

.login-box h6 {
  color: #5c3cbb;
  font-size: 15px;
}


.flag-menu button {
  width: 100px;
  height: 50px;
  padding: 3px;
  font-size: 14px !important;
  border: 2px solid rgb(223, 223, 223);
}

.flag-menu button::after {
  margin-right: 20px;
}

.flag-menu button:focus {
  border: 2px solid #5c3cbb;
}

.flags {
  width: 100%;
}

.phone {
  width: 100%;
  margin-left: 11px;
}

.phone input {
  font-size: .9rem;
  width: 100%;
  height: 50px;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding-left: 12px;
}

.phone input:focus {
  outline: none;
  border: 2px solid #5c3cbb;
}

.phone input:focus::-webkit-input-placeholder {
  font-size: .8em;
  position: absolute;
  color: #5c3cbb;
  transition: .34s;
}

.continue-btn{
  width: 100%;
  margin-top: 7px;
}

.continue-btn button{
  font-size: .9rem;
  border:none;
  width: 100%;
  height: 50px;
  border-radius: 9px;
  background-color: #fbd30c;
  font-weight: bold;
  color: #5c3cbb;
}

.continue-btn button:hover{
  background-color: #5c3cbb ;
  transition: .34s;
  color: #fbd30c;
}

.groupCard{
  width: 108.8px;
  height: 108.8px;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.groupCard:hover{
  background-color:#5c3cbb2f ;
  color: #5c3cbb ;
  transition: .34s;
}

.groupCard p {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px;
}

.groupCard img{
  width: 48px;
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 8px;
}

.category{
  background-color: white;
  padding-bottom: 22px;
  padding-top: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.category h6{
  font-size: 15px;
  font-weight: 600;
}

.campaign-img{
  border-radius: 8px;
}

.campaign p{
  font-size: 14px;
  font-weight: 600;
  padding-top: 2rem;
  margin-bottom: 8px;
}

.bg-img{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 312px;
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #5c3cbb;
  background-image: url("https://cdn.getir.com/getirweb-images/common/illustration/doodle.png");
}

.bg-img p{
  letter-spacing: .9px;
}

.iphone-img{
  margin-top: 14px;
}

.infoCards{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
  color: #5c3cbb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.center-bg{
  background-color: rgba(250, 250, 250, 0.767);
}

.footer h5{
 color: #5c3cbb;
}

.footer ul{
  list-style: none;
  padding: 0;
}

.footer ul li{
  margin-bottom: 10px;
}

.footer a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-bg{
  background-color: white;
}


.barcode{
  border: 12px solid white;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.clr-blg{
  color: #5c3cbb;
}

.ftr-btm p {
font-size: 13px;
}

.ftr-main{
  justify-content: space-between;
}

.social-icon a{
  font-size: 15px;
  color: grey;
}

.social-icon a:hover{
  color: #5c3cbb;
  transition: .34s;

}

.svg{
  width: 32px;
  height: 32px;
  text-align: center;
  margin-right: 5px;
  color: rgb(104, 116, 131);
}

.svg:hover{
  width: 32px;
  height: 32px;
  background-color: #dac5e23f;
  color: #5c3cbb;
  border-radius: 7px;
  transition: .34s;
}

.lan-tr{
  width: 110px;
  height: 32px;
  text-align: center;
  border: 1px solid rgba(115, 131, 150, 0.158);
  border-radius: 7px;
}

.lan-tr:hover{
  width: 110px;
  height: 32px;
  border-color:#dac5e23f;
  background-color: #dac5e23f;
  transition: .34s;
}
.menuButton{
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 600;
  font-size: .9rem;
}

.menuButton:focus{
  color: #fbd30c;
}

.menuButton:hover{
  color: #fbd30c;
}
